@import 'colors.module.css';
@import 'typography.module.css';
// @import 'theme.dark.css';
@import 'theme.light.css';

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2) format('woff');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

html {
  // color-scheme: dark;
  color-scheme: light;
}

.divider {
  height: 1px;
  width: 100%;
  border: transparent;
  background-color: var(--md-sys-color-outline-variant);

  &--vertical {
    width: 1px;
    height: 100%;
  }
}
