@import 'colors.module.css';
@import 'typography.module.css';
// @import 'theme.dark.css';
@import 'theme.light.css';

html {
  color-scheme: light;
}

.divider {
  height: 1px;
  width: 100%;
  border: transparent;
  background-color: var(--md-sys-color-outline-variant);

  &--vertical {
    width: 1px;
    height: 100%;
  }
}
